<!DOCTYPE html>
<html>
<head>
  <title>
    Deploli
  </title>
  <link rel="stylesheet" href="/main.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div class="content">
  <div class="msg">
    <%= params[:loli] %><br/>
    <%= @msg %></br>
    <a href="/">[Home]</a>
    <% if @detail.to_s.size > 0 %>
      <div class="msg_detail">
        <%= @detail %>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>
